.App {
   background-color: #29447a;  
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
   color:white;  

}
form > input{
  margin:10px;
}

.todo-list{
  padding: 20px;
  font-weight: 600;
  background-color: white;
    color: black;
    border-radius: 10px;
}

.todo{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 2px;
    margin: 10px;
}

.completed{
  text-decoration: line-through;
}
.pending{
  text-decoration: none;
}